.idea/
\.idea/
go.sum
.DS_Store
tests/
vendor/
./docs
*.exe
*.exe~
*.orig
.*.swp
.DS_Store
Thumbs.db
.editorconfig
/build/
/cli/winresources/versioninfo.json
/cli/winresources/*.syso
profile.out
/go.mod
/go.sum